<!DOCTYPE html>
<html>
<head>
    <title>Expenditure Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-6">

<div class="max-w-7xl mx-auto text-center mb-4">
    <h2 class="text-2xl font-bold mb-4">Expenditure Dashboard</h2>
    <p class="mb-3 font-semibold">Total Expense: ৳ {{ total }}</p>
    <a href="{% url 'add_expenditure' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mb-4 inline-block">
        + Add Expense </a>
    <div class="bg-white shadow rounded p-4 overflow-x-auto">
        <table class="table-auto w-full border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="border px-2 py-2 ">Description</th>
                    <th class="border px-2 py-2 ">Amount</th>
                    <th class="border px-2 py-2 ">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for ex in expenses %}
                <tr class="hover:bg-gray-50">
                    <td class="border px-2 py-1 text-left">{{ ex.description }}</td>
                    <td class="border px-2 py-1 text-left">৳ {{ ex.amount }}</td>
                    <td class="border px-2 py-1 text-left">{{ ex.expense_date }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td class="border px-2 py-1 text-center" colspan="3">No expenses yet</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-6">
        <a href="{% url 'main_dashboard' %}" class="text-blue-600 hover:underline font-medium">
            ← Back to Dashboard</a>
    </div>
</div>
</body>
<!-- Footer -->
<footer class="bg-white-800 text-black py-4 mt-8">
    <div class="max-w-6xl mx-auto text-center">
        <p class="text-sm">
            &copy; 2026 My Club Management. All rights reserved. </p>
        <p class="text-xs mt-1">
            Designed with ❤️ using Django & TailwindCSS</p>
    </div>
</footer>
</html>